@tailwind base;
@tailwind components;
@tailwind utilities;

.night-fade {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.warm-flame {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.w-150 {
  width: 50rem;
}
